.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(246,64,64);
    background-color: rgba(246,64,64, 0.98);
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 35%;
    width: 320px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    text-decoration: none;
    color: white;
}
.overlay-content a:first-of-type { margin-bottom: 20px }
.btn-default {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    background: #4b0369;
    padding: 15px 30px 15px;
    border-radius: 33px;
    border: none;
    width: 100%;
}
.overlay-content a:hover,
.overlay-content a:focus {
    color: #4b0369;
    background: #b854e3;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
@media screen and (max-height: 450px) {
    .overlay { overflow-y: auto }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
